*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}
.cannellonis{
    background-color: red;
}
.ramen{
    background-color: blue;
}
.tortilla{
    background-color: blueviolet;
}
.shit{
    color: yellow;
}
.caca{
    margin-left: auto;
}