*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.cannellonis{
    background-color: red;
}
.ramen{
    background-color: blue;
}
.tortilla{
    background-color: blueviolet;
}
.shit{
    color: yellow;
}