h1{
    color: blueviolet;
    font-size: 80px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 100px;
}
.recipes{
    color: pink;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-align: center;
    
}
.can{
    display: block;
    margin-bottom: 40px;
}
.ra{
    display: block;
    margin-bottom: 40px;
}
.tor{
    display: block;
}
*{
    background-color: yellowgreen;
}
h1, li{
    text-align: center;
}
